.Visible {
  opacity: 0.3;
  background-image: url('../svg/icons/visibility.svg');
}

.Invisible {
  opacity: 0.3;
  background-image: url('../svg/icons/visibility_off.svg');
}

.Visible:hover, .Invisible:hover {
  opacity: 1;
}